@charset "utf-8";
/* CSS Document */
#HOME .right-pane form label {
	margin:4px 4px 0 0;}
#HOME .right-pane form select {
	width:auto;
	margin-top:7px;}
#HOME .buttonWrap {
	margin:0;
	padding:0;
	text-align:right;
	display:block;}
#HOME .buttonWrap input.button {
	margin:5px;}	
#HOME table.BLN_DISPLAY_TABLE {
	margin-top:0;}

